<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmybatis.UserMapper">
<!-- 해당 SQL을 메소드와 연결해줄 id = 메소드명 / resultType = 리턴 타입
	  parameterType = 매개변수		-->
	<select id="getUser" resultType="jmybatis.UserDTO">
		select * from user
	</select>
	
	<insert id="insertUser" parameterType="jmybatis.UserDTO">
		insert into user values(#{user_id}, #{user_pw}, #{name}, #{phone}, #{grade}, #{age})
	</insert>
	
	<update id="updateUser" parameterType="String">
		update user set name = #{name} where user_id = #{user_id}
	</update>
	
	<delete id="deleteUser" parameterType="String">
		delete from user where user_id = #{user_id}
	</delete>
	
	<!-- 아이디 유무 확인 -->
	<select id="loginCh" resultType="int" parameterType="String">
		select count(*) from user where user_id = #{user_id}
	</select>
	
	<select id="login" resultType="jmybatis.UserDTO" parameterType="String">
		select user_id, user_pw, name, phone, grade, age from user where user_id = #{user_id}
	</select>
	
</mapper>